.portfolio {
    background-color:#535353;
    font-family: 'Bitter-Light';
    padding: 10px;
    box-sizing: border-box;
}

.title {
    font-size: 49px;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.line {
    margin-top: auto;
}

.line_container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    border-radius: 10px;
}

.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
}

.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 500px;
    border-radius: 30px;
}

.gallery {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, minmax(auto, auto));
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
}

.gallery .wide {
    grid-column: span 2;
}

.gallery .tall {
    grid-row: span 2;
}

.gallery .big {
    grid-column: span 2;
    grid-row: span 2;
}

.modal_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.819);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: asd 0.25s ease-in-out none;
}

@keyframes asd {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-image {
    object-fit: cover;
    max-width: 500px;
    border-radius: 10px;
    max-height: 90vh;
    width: auto;
    height: auto;
}

.zoom-image {
    transition: transform 0.3s;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.zoom-image:hover {
    transform: scale(1.1);
}

.modal_window img {
    transform: none !important;
}
