@media (min-width: 700px) {
.small_section_about_me {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.small_section_about_me_main {
    width: 95%;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.main_theme {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.main_text {
    color: #eae7de;
    font-size: 3.0em;
    font-family: 'Bitter-Light';
    text-align: center;
}

.button_for_get_consultation {
    margin-top: 100px;
    color: #eae7de; 
    font-family: 'Bitter-Light'; 
    font-size: 20px; 
    width: 90%; 
    height: 50px; 
    background: transparent; 
    border: 2px solid #eae7de; 
    border-radius: 40px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

.button_for_get_consultation:hover {
    font-weight: 600; 
    background-color: #721607; 
    color: #eae7de;
}

.button_for_get_consultation:active { 
    transition: background-color 0.001s, color 0.001s; 
    font-weight: 100;
    color: #eae7de;
    background-color: transparent;
}

.first_photo_container {
    width: 25%;
}

.second_photo_container {
    width: 25%;
}

.first_photo {
    width: 100%;
}

.second_photo {
    width: 100%;
}

.small_section_about_me_mobile {
    display: none;
}
}

@media (max-width: 700px) {
    .small_section_about_me {
        display: none;
    }
    .small_section_about_me_mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
    }
    .main_text_mobile {
        margin-top: 60px;
        color: #eae7de;
        font-size: 35px;
        font-family: 'Bitter-Light';
        text-align: center;
    }
    .button_for_get_consultation_mobile {
        margin-top: 30px;
        margin-bottom: 140px;
        color: #eae7de; 
        font-family: 'Bitter-Light'; 
        font-size: 20px; 
        width: 300px; 
        height: 50px; 
        background: transparent; 
        border: 2px solid #eae7de; 
        border-radius: 40px; 
        cursor: pointer; 
        transition: background-color 0.3s, color 0.3s;
    }                
    .button_for_get_consultation_mobile:hover {
        background-color: #721607; 
        color: #eae7de;
    }
}