@media (min-width: 700px) {
.calculate_prices { 
    justify-content: center; 
    width: 100vw;
    overflow-x: hidden;
} 
 
.title_price { 
    font-size: 49px; 
    font-weight: bolder; 
    color: #eae7de; 
    text-align: center; 
    letter-spacing: 3px; 
    margin-top: 19px;
    font-family: 'Bitter-Light'; 
} 
 
.counting_block { 
    text-align: center; 
} 
 
.calc_text { 
    margin-top: 60px; 
    margin-left: 50px; 
    font-size: 30px; 
    font-family: 'Bitter-Light'; 
    margin-right: 600px; /*Выравнивание по ползунку*/ 
    margin-bottom: 50px; 
    color: #eae7de; 
} 
 
.slider { 
    appearance: none; 
    width: 1000px; 
    height: 10px; 
    background: #eae7de ; 
    outline: none; 
    border-radius: 12px; 
}
 
.slider::-webkit-slider-thumb { 
    appearance: none; 
    width: 35px; 
    height: 35px; 
    border: 6px solid #535353;
    background: #eae7de;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.10);
    transition: border 0.2s;
} 

.slider::-webkit-slider-thumb:hover { 
    appearance: none; 
    border: 2px solid #535353;
    background: #eae7de;
    border-radius: 50%; 
    transition: border 0.2s;
    cursor: pointer;
} 
 

.output1, .output2 { 
    border-radius: 5%; 
    border-color: #eae7de; 
    width: 400px; 
    height: 300px; 
    background-color: #535353; 
    margin: 5%; 
    display: inline-block; 
    padding-top: 20px; 
    border: 2px solid #eae7de; 
} 
 
.text_inside_output { 
    font-family: 'Bitter-Light'; 
    font-size: 35px; 
    font-weight: bolder; 
    margin-top: 15px; 
    color: #eae7de; 
} 
 
.total_price { 
    font-family: 'Bitter-Light'; 
    font-size: 25px; 
    margin-top: 35px; 
    color: #eae7de; 
} 
 
.button_for_get_more { 
    color: #eae7de; 
    font-family: 'Bitter-Light'; 
    font-size: 20px; 
    width: 250px; 
    height: 50px; 
    background: transparent; 
    border: 2px solid #eae7de; 
    border-radius: 40px; 
    margin-top: 25px; 
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
 
.button_for_get_more:hover { 
    font-weight: 600; 
    background-color: #721607; 
    color: #eae7de;
} 
 
.button_for_get_more:active { 
    transition: background-color 0.001s, color 0.001s; 
    font-weight: 100; 
    color: #eae7de; 
    background-color: transparent; 
}

.calculate_prices_mobile {
    display: none;
}
}

@media (max-width: 700px) {
    .calculate_prices {
        display: none;
    }
    
    .calculate_prices_mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Bitter-Light';
        color: #eae7de;
        margin-bottom: 20px;
    }

    .counting_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_price {
        font-size: 32px;
    }

    .slider_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .calc_text {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .slider1 {
        appearance: none; 
        width: 70%; 
        height: 5px; 
        background: #eae7de ; 
        outline: none; 
        border-radius: 12px;         
    }

    .slider1::-webkit-slider-thumb { 
        appearance: none; 
        width: 20px; 
        height: 20px; 
        border: 5px solid #535353;
        background: #eae7de;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.10);
        transition: border 0.2s;
    } 
    
    .slider1::-webkit-slider-thumb:hover { 
        appearance: none; 
        border: 2px solid #535353;
        background: #eae7de;
        border-radius: 50%; 
        transition: border 0.2s;
        cursor: pointer;
    }

    .output1 {
        width: 80%;
        max-width: 380px;
        border: 2px solid #eae7de;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .total_price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_inside_output {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .price_container {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .button_for_get_more { 
        color: #eae7de; 
        font-family: 'Bitter-Light'; 
        font-size: 20px; 
        width: 190px; 
        height: 40px; 
        background: transparent; 
        border: 2px solid #eae7de; 
        border-radius: 40px; 
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
    }

    .button_for_get_more:hover {  
        background-color: #721607; 
    } 
}