@media (min-width: 700px) {
.service {
    max-width: 1800px;
    width: 100%;
    padding-top: 40px;
    font-family: 'Bitter-Light';
    display: flex;
    justify-content: center;
    color: #eae7de;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-color: #535353;
    overflow: hidden;
    margin: 0 auto;
}


.consultion {
    width: 1080px;
}

.title {
    font-size: 49px;
    color: #eae7de;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 19px;
    font-weight: bolder;
}

.button {
    width: 176px;
    height: 40px;
    background-color: transparent;
    font-family: 'Bitter-Light';
    font-size: 20px; 
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    letter-spacing: -0.6px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.button:hover {
    font-weight: 600;
    background-color: white;
    color: #535353;
}

.button:active {
    transition: background-color 0.01s, color 0.01s, border 0.01s, font-weight 0.01s;
    background-color: transparent;
    color: #ccc;
    border: 2px solid #ccc;
    font-weight: 100;
}

.one_service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    width: 100%;
}

.nam_of_service {
    color: #FFF;
    letter-spacing: 0.8px;
    font-size: 23px;
    flex-basis: 20%;
}

.description_of_service {
    color: #FFFFFF;
    letter-spacing: 0.8px;
    font-size: 23px;
    flex-basis: 50%;
    padding: 0 0px;
}

.price_of_service {
    color: #FFFFFF;
    letter-spacing: 0.8px;
    font-size: 23px;
    text-align: center;
    flex-basis: 10%;
    margin-bottom: 5px;
}

.button_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
}

.line_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 1080px;
}

.modal-shadow {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.197);
    backdrop-filter: blur(2px);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #535353;
    margin: 15% auto;
    border-radius: 50px;
    width: 740px;
    box-shadow: 10px 10px 7.8px rgba(0, 0, 0, 0.452), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: auto;
    animation: asd 0.3s ease-in-out none;
}

@keyframes asd {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal_text {
    color: white;
    font-size: 25px;
    letter-spacing: -0.1px;
    text-align: left;
    padding-top: 14px;
    line-height: 30px;
}

.modal_container {
    margin: 35px;
}

a {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, text-decoration 0.3s;
    border: 2px solid white;
    border-radius: 40px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px; 
    width: 250px;
    height: 38px;
    margin: 0 auto;
    display: block;
}

a:hover {
    background-color: white;
    color: #8D8579;
    font-weight: 100;
}

a:active {
    transition: background-color 0.01s, color 0.01s, text-decoration 0.01s;
    background-color: transparent;
    color: #CCC;
    font-weight: 100;
}

.for_background1 {
    background-color: #433b33c0;
}

.background_photo {
    display: inline;
    width: 1650px;
}

.modal_text br {
    content: "";
    display: block;
    margin-top: 15px;
}

.service_mobile {
    display: none;
}
}

@media (max-width: 700px) {
    .service {
        display: none;
    }

    .service_mobile {
        width: 100%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #eae7de;
        margin: 0 auto;
    }

    .title_mobile {
        font-family: 'Bitter-Light';
        font-size: 32px;
    }
    
    .line_container_mobile {
        width: 90%;
        padding-bottom: 20px;
        border-radius: 10px;
        text-align: center;
    }
    
    .consultion_mobile {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
    
    .one_service_mobile {
        margin-bottom: 20px;
        padding: 10px 20px;
        border: 2px solid #eae7de;
        border-radius: 20px;
        width: 100%;
        max-width: 400px;
    }
    
    .nam_of_service_mobile {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Bitter-Light';
        font-size: 22px;
    }
    
    .description_of_service_mobile {
        margin-top: 10px;
        font-family: 'Bitter-Light';
        font-size: 17px;
    }
    
    .price_of_service_mobile {
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Bitter-Light';
        text-align: center;
    }

    .button_mobile_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .button_mobile {
        width: 176px;
        height: 40px;
        background-color: transparent;
        font-family: 'Bitter-Light';
        color: #eae7de;
        font-size: 18px;
        border: 1px solid #eae7de;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border 0.3s;
    }

    .modal-shadow_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.197);
        backdrop-filter: blur(2px);
    }

    .modal_container_mobile {
        width: 80%;
        max-width: 400px;
        height: auto;
        padding: 15px;
        background-color: #535353;
        box-shadow: 10px 10px 7.8px rgba(0, 0, 0, 0.452), 0 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }

    .modal_text_mobile {
        font-family: 'Bitter-Light';
        color: #eae7de;
        line-height: 20px;
    }

    .modal_text_mobile br {
        content: "";
        display: block;
        margin-top: 15px;
    }
}