@media (min-width: 700px) {
.global_frame {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: 2100px;
    overflow: hidden;
}

.main_frame_stages {
    position: relative;
    margin-top: 30px;
    height: 2000px;
    background-color:#eae7de;
    border-radius: 25px;
    width: 1550px;
}


.steps_work {
    font-family: 'Bitter-Light';
    margin-top: 30px;
    text-align: center;
    color: #5A5148;
    font-weight: bolder;
    font-size: 55px; 
}

.main_frame_stages h2 {
    font-family: 'Bitter-Light';
    color: #4E4943;
    position: absolute;
    font-size: 290px;
    font-weight: 100;
}

.main_frame_stages p {
    font-family: 'Bitter-Light';
    color: #535353;
    font-size: 21px;
    font-weight: 100;
}

.main_frame_stages h6 {
    font-family: 'Bitter-Light';
    color: #535353;
    font-size: 40px;
    font-weight: 100;
}

.main_frame_stages img {
    width: 420px;
    height: 280px;
    border-radius: 25px;
}

.technical_task_digital {
    margin-left: -170px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.technical_task {
    margin-top: 30px;
    margin-left: 200px;
    width: 1280px;
    height: 335px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(125%);
    transition: opacity 1.5s, transform 2.5s;
    background-color: #eae7de;
}

.technical_task h6 {
    position: absolute;
    color: #535353;
    margin-top: 20px;
    margin-left: 50px;
}

.technical_task p {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
}

.technical_task_image {
    position: absolute;
    margin-top: 25px;
    margin-left: 760px;
}

.project_frame_digital {
    margin-left: 1290px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.project_frame {
    position: relative;
    margin-top: 40px;
    margin-left: 70px;
    width: 1250px;
    height: 335px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-125%);
    transition: opacity 1.5s, transform 2.5s;
    background-color: #eae7de;
}

.project_frame h6 {
    position: absolute;
    color: #535353;
    margin-top: 20px;
    margin-left: 550px;
}

.project_frame p {
    position: absolute;
    margin-top: 100px;
    margin-left: 550px;
}

.project_frame_image {
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;
}

.visualization_digital {
    position: absolute;
    margin-left: -170px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.visualization {
    position: relative;
    margin-top: 30px;
    margin-left: 200px;
    width: 1280px;
    height: 335px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(125%);
    transition: opacity 1.5s, transform 2.5s;
    background-color: #eae7de;
}

.visualization h6 {
    position: absolute;
    color: #535353;
    margin-top: 20px;
    margin-left: 50px;
}

.visualization p {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
}

.visualization_image {
    position: absolute;
    margin-top: 25px;
    margin-left: 760px;
}

.work_documentation_digital {
    margin-left: 1275px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.work_documentation {
    position: relative;
    margin-top: 40px;
    margin-left: 70px;
    width: 1250px;
    height: 335px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-125%);
    transition: opacity 1.5s, transform 2.5s;
    background-color: #eae7de;
}

.work_documentation h6 {
    position: absolute;
    color: #535353;
    margin-top: 20px;
    margin-left: 550px;
}

.work_documentation p {
    position: absolute;
    margin-top: 100px;
    margin-left: 550px;
}

.work_documentation_image {
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;

}

.complectation_digital {
    margin-left: -180px;
    margin-top: 0;
    font-weight: 100;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.complectation {
    position: relative;
    margin-top: 30px;
    margin-left: 200px;
    width: 1280px;
    height: 335px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(125%);
    transition: opacity 1.5s, transform 2.5s;
    background-color: #eae7de;
}

.complectation h6 {
    position: absolute;
    color: #535353;
    margin-top: 20px;
    margin-left: 50px;
}

.complectation p {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
}

.complectation_image {
    position: absolute;
    margin-top: 25px;
    margin-left: 760px;
}

.technical_task.show {
    opacity: 1;
    transform: translateX(0);
}
.project_frame.show {
    opacity: 1;
    transform: translateX(0);
}
.visualization.show {
    opacity: 1;
    transform: translateX(0);
}
.work_documentation.show {
    opacity: 1;
    transform: translateX(0);
}

.complectation.show {
    opacity: 1;
    transform: translateX(0);
}
.stages_mobile {
    display: none;
}
}

@media (max-width: 700px) {
    .stages {
        display: none;
    }

    .stages_mobile {
        width: 85%;
        max-width: 500px;
        height: auto;
        background-color: #eae7de;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px 20px 20px 20px;
        border-radius: 20px;
    }

    .steps_work_mobile {
        width: 100%;
        text-align: center;
        font-family: 'Bitter-Light';
        font-size: 32px;
        color: #5A5148;
    }

    .one_step {
        display: flex;
        justify-content: space-between;
        color: #5A5148;
        margin-top: 20px;
    }

    .digit_mobile {
        width: 30px;
        font-family: 'Bitter-Light';
        font-size: 50px;
    }

    .block_of_step_right_mobile, .block_of_step_left_mobile {
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px 20px 15px 20px;
        width: 100%;
    }

    .block_of_step_left_mobile {
        margin-left: 15px;
    }

    .block_of_step_right_mobile {
        margin-right: 15px;
    }

    .name_of_step_mobile {
        font-family: 'Bitter-Light';
        font-size: 22px;
        margin-bottom: 10px;
    }

    .description_of_step_mobile {
        font-family: 'Bitter-Light';
        font-size: 16px;
    }

    .img_mobile {
        display: flex;
        margin: 15px auto 0 auto;
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 20px;
    }
    
}