@media (min-width: 700px) {
.request {
    position: relative;
    margin-top: 5px;
    background: #535353;
}

.main_request {
    justify-content: center;
    display: flex;
    position: relative;
    overflow: hidden;
}

.create-line {
    position: absolute;
    margin-top: 240px;
    margin-left: -400px;
    width: 335px;
    border-top: 1px solid white;
}

hr {
    position: absolute;
    margin-top: 170px;
    margin-left: -100px;
    height: 85px;
    border-top: 1px solid white;
    color: white;
}

.title_of_request {
    color: #333;
}

.for_background {
    background: #535353;
}

.text_price {
    position: absolute;
    font-family: 'Bitter-Light';
    font-size: 35px;
    font-weight: 100;
    color: white;
    margin-left: -760px;
    margin-top: 150px;
}

.more_information {
    font-family: 'Bitter-Light';
    position: absolute;
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-top: 300px;
    margin-left: -810px;
    
}

.request_background_photo {
    margin-top: 50px;
    width: 1650px;
    height: 750px;
}

.cl  {
    display: flex;
    position: absolute;
    margin-top: 100px;
    height: 650px;
    width: 580px;
    border-radius: 30px;
    margin-left: -10px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 950px;
}

.button_push_request {
    display: block;
    font-family: 'Bitter-Light';
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    width: 400px;
    height: 50px;
    background: transparent;
    color: #333;
    border: 2px solid #333;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.button_push_request:hover {
    background-color: #333;
    color: #cbcbcb;
    border: 2px solid #333;
}

.button_push_request:active {
    transition: background-color 0.01s, color 0.01s;
    background-color: transparent;
    color: #555;
    border: 2px solid #555;
}

.main_request_correct h1 {
    font-family: 'Bitter-Light';
    margin-top: 15px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-weight:100;
}

.name_config  {
    margin-top: 10px;
}

.name_config label{
    opacity: 0;
}

.name_config.error label{
    opacity: 1;
}

.number_config  {
    margin-top: 30px;
}

.number_config  label{
    opacity: 0;
}

.number_config.error label{
    position: relative;
    opacity: 1;
}

.celect_config  {
    margin-top: 30px;
}

.accept_config  {
    margin-top: 10px;
}

.main_request_correct input {
    font-family: 'Bitter-Light';
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 20px;
    padding-left: 25px;
    font-size: 25px;
    margin-top: 10px;
    background-color: #F0F0F0;
    color: #000;
}

.main_request_correct {
    margin-left: 20px;
}

.for_inputs {
    margin-left: 20px;
}

.for_inputs p {
    font-family: 'Bitter-Light';
    font-weight:100;
    font-size: 25px;
    color: black;
}

.accept_config {
    position: relative;
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
  
}

.accept_config p {
    position: absolute;
    display: inline-block;
    font-family: 'Bitter-Light';

    margin-top: 10px;
    margin-left: 25px;
    font-weight:100;
    font-size: 15px;
    color: white;
}

input[type=checkbox] {
     position: absolute;
     display: inline-block;
     border-radius: 50%;
     height: 15px;
     width: 15px;
    }

.v_celect {
    position: relative;
    font-family: 'Bitter-Light';
    width: 500px;
    height: 60px;
    border-radius: 20px;
    padding-left: 25px;
    margin-top: 10px;
    background-color: #F0F0F0;
    text-align: left;
    color: #b5b5b5;
    cursor: default;
}

.titles {
    position: absolute;
    margin-top: 15px;
    font-size: 35px;
    color: #b5b5b5;
}

.options p {
    padding-left: 20px;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: hsl(0, 0%, 94%);
    text-align: left;
    color: #646464;
    cursor: default;
}

.options {
    position: absolute;
    margin-top: 60px;
    margin-left: -25px;
}

.options p:hover {
    transition: all 0.5s;
    background: rgba(166, 166, 166, 0.569);
}

.arrow_image {
    position: relative;
    margin-top: 6px;
    margin-right: 40px;
    float: right;
}

.error .name_contact{
    border: 1px solid red;
}

.error_label {
    position: relative;
    color: rgb(233, 0, 0);
    margin-left: 20px;
    font-size: 20px;
}

.error .v_celect{
    border: 1px solid red;
}

.celect_config label {
    color: rgb(233, 0, 0);
    margin-left: 25px;
    font-size: 20px;
    opacity: 0;
}
.celect_config.error label {
    position: relative;
    margin-top: 3px;
    opacity: 1;
}

.cl {
    opacity: 0;
    transform: translateX(125%);
    transition: opacity 1.5s, transform 3s;
}

.cl.show {
    opacity: 1;
    transform: translateX(0);
}

.request_mobile {
    display: none;
}
}

@media (max-width: 700px) {
    .request {
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.4);
        width: 90%;
        max-width: 400px;
        margin: 0 auto 50px;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
    }

    .for_background, .text_price, .more_information, .create-line, .main_request hr {
        display: none;
    }

    .main_request_correct h1 {
        text-align: center;
        font-family: 'Bitter-Light';
        font-size: 32px;
        font-weight: 100;
        color: #333;

    }

    .name_config, .number_config, .celect_config {
        margin-top: 20px;
        font-family: 'Bitter-Light';
        color: #333;
        margin-bottom: 5px;

    }

    .your_name, .numper_phone, .celect_service {
        font-size: 20px;
        margin-bottom: 5px;
        text-align: left;
    }

    .name_contact {
        font-family: 'Bitter-Light';
        font-size: 18px;
        width: 100%;
        height: 37px;
        border: unset;
        border-radius: 10px;
        padding: 10px;
    }

    .name_config label{
        opacity: 0;
    }
    
    .name_config.error .name_contact{
        border: 1px solid red;
    }

    .number_config.error .name_contact {
        border: 1px solid red;
    }

    .name_config.error label{
        opacity: 1;
    }

    .number_config label{
        opacity: 0;
    }
    
    .number_config.error label{
        opacity: 1;
    }

    .celect_config label {
        opacity: 0;
    }

    .celect_config.error label {
        opacity: 1;
    }

    .error_label, .error_label_select {
        position: relative;
        color: rgb(233, 0, 0);
        margin-left: 20px;
        font-size: 15px;
    }

    .celect_config {
        height: 100px;
    }

    .v_celect {
        width: 100%;
        height: 37px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        font-size: 17px;
    }

    .error .v_celect {
        border: 1px solid red;
    }

    .options {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 155px;
        text-align: left;
    }

    .options p {
        padding: 0 10px;
        background-color: white;
        border: 1px solid #333;
        border-radius: 5px;
        margin-bottom: 1px;
    }

    .arrow_image {
        width: 40px;
    }

    .button_push_request {
        width: 60%;
        height: 35px;
        background-color: transparent;
        border: 2px solid #333;
        border-radius: 20px;
        font-family: 'Bitter-Light';
        color: #333;
        font-weight: 100;
        font-size: 15px;
        margin-bottom: 15px;
    }
}
    
    