@font-face {
    font-family: 'Bitter-Light';
    src: url("../fonts/Bitter-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'JuliusSansOne-Regular';
    src: url("../fonts/JuliusSansOne-Regular.ttf") format('truetype');
}